@media only screen and (max-width:450px){
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
        font-family: 'Poppins',sans-serif;
    }
    h1{
        font-size: 25px;
        margin: 5px;
    }
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container1{
        margin-top: 3vh;
        width: 250px;
        height: 500px;
        border-radius: 10px;
        box-shadow: 1px 8px 10px 10px #d3d3d3;
    }
    .image-holder{
        width: 100%;
        height: 40%;
    }
    .image-holder img{
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .text-holder{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        overflow-wrap: break-word;
        padding: 10px;
    }
    h2 span{
        color: #8f8f8f;
    }
    h4 span{
        color: #8f8f8f;
    }
}

@media (min-width:451px) and (max-width:1000px) {
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
        font-family: 'Poppins',sans-serif;
    }
    h1{
        font-size: 25px;
        margin: 5px;
    }
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container1{
        margin-top: 3vh;
        width: 400px;
        height: 500px;
        border-radius: 10px;
        box-shadow: 1px 8px 10px 10px #d3d3d3;
    }
    .image-holder{
        width: 100%;
        height: 50%;
    }
    .image-holder img{
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .text-holder{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        overflow-wrap: break-word;
        padding: 10px;
    }
    h2 span{
        color: #8f8f8f;
    }
    h4 span{
        color: #8f8f8f;
    }
}

@media (min-width:1001px){
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
        font-family:sans-serif;
    }
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container1{
        width: 800px;
        height: 400px;
        display: flex;
        border-radius: 10px;
        margin-top: 8vh;
        box-shadow: 1px 8px 10px 10px #d3d3d3;
    }
    .image-holder{
        width: 50%;
        height: 100%;
    }
    img{
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .text-holder{
        width: 50%;
        height: 100%;
        display: flex;
        padding: 70px 50px;
        flex-direction: column;
        overflow-wrap: break-word;
        justify-content: space-between;
    }
    h2 span{
        color: #8f8f8f;
    }
    h4 span{
        color: #8f8f8f;
    }
}