{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
        <div class="container-fluid">
            <a href="{% url 'home-page' %}" class="navbar-brand">Countries</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex mt-5 mt-lg-0" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto ">

                    <form class="me-lg-3" action="{% url 'region-search' %}" method="POST">
                        {% csrf_token %}
                        <select name="filter_region" id="region" class="bg-light me-4 mb-sm-0 form-control"  onchange="this.form.submit()">
                            <option selected disabled>Select A Region</option>
                            <option value="Africa"> Africa</option>
                            <option value="Asia">Asia</option>
                            <option value="Americas">Americas</option>
                            <option value="Polar">Polar</option>
                            <option value="Europe">Europe</option>
                            <option value="Oceania">Oceania</option>
                            <option value="Others">Others</option>
                        </select>
                    </form>

                    <form class="d-flex mt-lg-0 mt-3" action="{% url 'country-search' %}" method="POST">
                        {% csrf_token %}
                        <input type="search" class="form-control me-2 search-filter" aria-label="Search" name='searchValue' placeholder="Country Name">
                        <button class="btn btn-sm btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>



    <div class="container-fluid col-lg-12 p-4">
        <div class="row">
            {% for i in count %}
            <div class="card col-md-4 col-lg-3 col-sm-6 p-0 mb-2">
                <a href="{% url 'country-details' i.pk %}">
                    <img src="{{ i.flag }}" class="card-img-top" alt="Flag of {{ i.name }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    


    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>